<?php
$AUTOCONFIG = array(
  "dbtype"        => "pgsql",
  "dbname"        => "{{OWNCLOUD_DB_NAME}}",
  "dbuser"        => "{{OWNCLOUD_DB_USER}}",
  "dbpass"        => "{{OWNCLOUD_DB_PASS}}",
  "dbhost"        => "{{OWNCLOUD_DB_HOST}}",
  "dbtableprefix" => "{{OWNCLOUD_DB_PREFIX}}",
  "adminlogin"    => "{{OWNCLOUD_DB_ADMIN_USER}}",
  "adminpass"     => "{{OWNCLOUD_DB_ADMIN_PASS}}",
  "directory"     => "{{OWNCLOUD_DATA_DIR}}",
);
